.card-container-imagem.galeria {
    height: 70%;
}

.card-container-imagem.galeria img {
    width: 120px;
}

.container-galeria {
    border-radius: .2rem;
    min-height: 75dvh;
    height: auto;
    display: grid;
    grid-template-columns: 2fr minmax(350px, 500px);
    row-gap: 0px;
    grid-template-areas: 
    'conteudo-imagem conteudo-info'
    ;
    max-width: 1450px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 5%);
}

.conteudo-imagem {
    height: 75dvh;
    grid-area: conteudo-imagem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;    
}

.container-info {
    border-left: 1px solid var(--color-c4);
    grid-area: conteudo-info;
    padding: 30px;
}

.container-principal.galeria {
    max-width: 1440px;
}

.footer-button-galeria {
    display: flex;
    gap: 20px;
}

.container-header-titulo-galeria {
    max-width: 1448px;
    padding: 10px 20px;
    background-color: var(--color-c0);
    border-radius: .2rem;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 5%);
}

.container-tabela {
    margin-top: 30px;
    background-color: #fff;
    box-sizing: border-box;
    overflow-x: auto;
    padding: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 5%);
  }
  