.projetosDestaque {
    min-height: 100vh;
    max-width: 1140px;
    margin: 110px auto;
    padding: 0 10px;
}

#activedrop {
    cursor: pointer;
}

.conteudo-img img {
    object-fit: cover;
    height: 100%;
    object-position: top left;
}

.projetosDestaque .texto-paragrafo {
    position: relative;
}

.projetosDestaque .texto-paragrafo::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 8px;
    background-color: var(--color-p4);
    bottom: -20px;
    left: -0px;
}

.projetosDestaque-container-cards {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 130px 40px;
    position: relative;
}

.projetoDestaque-cards {
    position: relative;
}

.projetoDestaque-cards img {
    max-width: 100%;
}

.projetoDestaque-cards--tag {
    border: 1px solid red;
}

.projetoDestaque-cards--techs {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--color-c2);
    height: 41px;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.projetoDestaque-cards--techs .font-1-md-sb {
    padding: 0 40px;
    font-weight: 300;
    line-gap-override: 15px;
}

.projetoDestaque-cards--techs::before {
    content: attr(data-name);
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--color-c2);
    width: 230px;
    height: 52px;
    bottom: 85%;
    left: 20px;
    display: flex;
    font-size: 2em;
    font-family: poppins;
    font-weight: 600;
    color: var(--color-c12);
    justify-content: center;
    align-items: center;
}

.projetoDestaque-cards-frontal {
    position: relative;
    transition: all .3s;
}

    .projetoDestaque-cards:hover .projetoDestaque-cards-verso {
        opacity: 1;
        display: block;
    }

    .projetoDestaque-cards:hover .conteudo-img img {
        filter: blur(20px);
    }

.techs-verso::before {
    content: attr(data-name);
    position: absolute;
    background-color: var(--color-s8);
    border: 1px solid transparent;
    width: 230px;
    height: 52px;
    bottom: 85%;
    left: 20px;
    display: flex;
    font-size: 2em;
    font-family: poppins;
    font-weight: 600;
    color: var(--color-c2);
    justify-content: center;
    align-items: center;

}

.techs-verso .font-1-md-sb {
    padding: 0 40px;
    line-gap-override: 15px;
}

.projetoDestaque-cards-verso {
    position: absolute;
    top: 0px;
    background-color: rgba(14, 16, 24, 80%);
    opacity: 0;
    transition: all .3s;
}

.projetoDestaque-cards--conteudo {
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.techs-verso {
    background-color: rgba(14, 16, 24, 0%);
    border-color: transparent;
}

.conteudo-card-verso {
    box-sizing: border-box;
    padding: 0px 20px;
}

.projetoDestaque-cards--conteudo-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}

/* .conteudo-buttons-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.conteudo-buttons-links a {
    border: 1px solid;
    border-color: rgba(93, 96, 108, 20%);
    width: 130px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all .3s;
}

    .conteudo-buttons-links a:hover {
        color: var(--color-p4);
        border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
        border-width: 1px;
        border-style: solid;
        transition: all .3s;
    } */


.conteudo-buttons-link-logo {
    border: 1px solid;
    border-color: rgba(93, 96, 108, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: auto;
    max-height: 150px;
}

    .conteudo-buttons-link-logo a {
        max-width: 120px;
        max-height: 120px;
    }

    .conteudo-buttons-link-logo img {
        background-color: var(--color-c2);
        width: calc(100% - 10px);
        padding: 0px 5px;
    }

.projetoDestaque-cards--conteudo-texto {
    border-top: 1px solid var(--color-c10);
    margin-bottom: 30px;
}

.projetoDestaque-cards--conteudo-texto h3 {
    font-size: 1.5em;
    font-family: poppins;
    font-weight: 400;
    color: var(--color-c2);
    margin: 20px 0px;
}


.projetosDestaque-btn-visualizar-todos {
    display: flex;
    max-width: 300px;
    height: 55px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: poppins, sans-serif;
    font-size: 1.25em;
    color:  var(--color-c6);
    border-bottom: 1px solid;
    border-color: rgba(93, 96, 108, 20%);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 3%);
    transition: all .3s;
    margin: 80px auto;
}

.projetosDestaque-btn-visualizar-todos:hover {
    color: var(--color-c10);
    border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
    transition: all .3s;
}

    .projetosDestaque-btn-visualizar-todos:hover span {
        color: var(--color-p4);
    }

.projetosDestaque-container-cards::before {
    content: '';
    position: absolute;
    width: calc(100% + 14px);
    height: 100%;
    left: -7px;
    top: -80px;
    z-index: 0;
    background-image: url(/img/forma-background.svg);
    background-size: contain;
    background-position: initial;
    background-repeat: repeat-x;
}

@media (max-width: 991px) {
    .projetosDestaque {
        margin-top: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .projetosDestaque-container-cards {
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 130px 40px;
    }

    .projetosDestaque-container-cards {
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 130px 20px;
    }

    /* .conteudo-buttons-links {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .conteudo-buttons-links a {
        border: 1px solid;
        border-color: rgba(93, 96, 108, 20%);
        width: 100px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8em;
        font-family: poppins;
        font-weight: 400;
        color: var(--color-c2);
        gap: 5px;
        transition: all .3s;
    }
    
        .conteudo-buttons-links a:hover {
            color: var(--color-p4);
            border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
            border-width: 1px;
            border-style: solid;
            transition: all .3s;
        }
    
    .conteudo-buttons-links a i {
        font-size: 1em;
    } */

    .projetoDestaque-cards--conteudo-texto {
        border-top: 1px solid var(--color-c10);
        margin-bottom: 30px;
    }
    
    .projetoDestaque-cards--conteudo-texto h3 {
        font-size: 1.25em;
        font-family: poppins;
        font-weight: 400;
        color: var(--color-c2);
        margin: 5px 0px;
    }
    
    .projetoDestaque-cards--conteudo-texto .font-1-md-l {
        font-size: .95em;
        line-height: 1.5em;
    }
    
    .saiba-mais {
        font-size: .95em;
        font-weight: 300;
    }


    .projetoDestaque-cards--techs .font-1-md-sb {
        padding: 0 40px;
        color: var(--color-c6);
        font-size: .8em;
        line-gap-override: 15px;
    }

    .projetoDestaque-cards-verso {
        position: absolute;
        top: 0px;
        background-color: rgba(14, 16, 24, 80%);
        opacity: 0;
        transition: all .3s;
    }

    .projetoDestaque-cards--conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .projetoDestaque-cards--techs {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .projetoDestaque-cards--techs::before {
        content: attr(data-name);
        position: absolute;
        border: 1px solid var(--color-c2);
        bottom: 85%;
        left: 20px;
        display: flex;
        font-family: poppins;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        color: var(--color-c12);
    }

    .techs-verso::before {
        content: attr(data-name);
        position: absolute;
        border: 1px solid transparent;
        bottom: 85%;
        left: 20px;
        display: flex;
        font-family: poppins;
        font-weight: 500;
        color: var(--color-c12);
        justify-content: center;
        align-items: center;
        background-color: var(--color-s8);
        color: var(--color-c2);
    }

    .conteudo-buttons-link-logo {
        border: 1px solid;
        border-color: rgba(93, 96, 108, 20%);
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
    }
    
         .conteudo-buttons-link-logo a {
            display: flex;
        }
    
        .conteudo-buttons-link-logo img {
            background-color: var(--color-c2);
            height: 100%;
            
        }
}

@media (min-width: 592px) and (max-width: 768px) {
    .projetosDestaque-container-cards {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    /* .conteudo-buttons-links {
        gap: 10px;
    }
    
    .conteudo-buttons-links a {
        width: 120px;
        height: 55px;
        font-weight: 400;
        color: var(--color-c2);
    } */
    
    .projetoDestaque-cards--conteudo-texto h3 {
        font-weight: 500;
        color: var(--color-c2);
    }
 
    .projetoDestaque-cards--techs {
        width: 100%;
    }
    
    .projetoDestaque-cards--techs::before {
        font-weight: 500;
    }

    .projetosDestaque-container-cards::before {
        background-repeat: repeat-y;
    }

}


@media (max-width: 591px) {
    .projetoDestaque-cards {
        height: calc(388px + 30px);
    }

    .projetosDestaque-container-cards {
        grid-template-columns: 1fr;
    }
    
    /* .conteudo-buttons-links a {
        width: 110px;
        height: 45px;
        font-size: 1em;
    }
    
    .conteudo-buttons-links a i {
        font-size: 1em;
    } */

    .projetoDestaque-cards--conteudo-texto h3 {
        font-size: 1.25em;
        font-weight: 500;
    }
    
    .projetoDestaque-cards--conteudo-texto .font-1-md-sb {
        font-size: .95em;
    }
    
    .projetoDestaque-cards--techs {
        height: 30px;
    }
    
    .projetoDestaque-cards--techs::before {
        width: 178px;
        height: 34px;
        font-size: 1.5em;
        font-weight: 500;
    }

    .techs-verso::before {
        border: 1px solid transparent;
        color: var(--color-c2);
    }

    .projetosDestaque-btn-visualizar-todos {
        max-width: 100%;
        height: 40px;
        font-size: .88em;
        margin: 70px auto;
    }

    .projetosDestaque-btn-visualizar-todos span {
        font-size: 1.25em;
    }

    .projetosDestaque-container-cards::before {
        background-repeat: repeat-y;
    }

}

@media (max-width: 480px) {
    .projetoDestaque-cards {
        height: calc(273px + 27px);
    }

    /* .conteudo-buttons-links {
        gap: 10px;
    }
    
    .conteudo-buttons-links a {
        border: 1px solid;
        border-color: rgba(93, 96, 108, 20%);
        width: 80px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .625em;
    }
    
    .conteudo-buttons-links a i {
        font-size: 1em;
    } */

    .projetoDestaque-cards--conteudo-texto h3 {
        font-size: 1em;
        font-family: poppins;
        font-weight: 500;
    }
    

    .projetoDestaque-cards--techs .font-1-md-sb {
        font-size: .625em;
    }

    .projetoDestaque-cards--conteudo {
        height: 273px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projetoDestaque-cards--techs {
        height: 27px;
    }
    
    .projetoDestaque-cards--techs::before {
        width: 158px;
        height: 34px;
        font-size: 1.25em;
    }

    .conteudo-buttons-link-logo {
        border: 1px solid;
        border-color: rgba(93, 96, 108, 20%);
    }
    
    .projetosDestaque-container-cards::before {
        background-repeat: repeat-y;
    }
}

