.container-tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0px;
}

.container-imagem-tecnologia {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    position: relative;
    border: 1px solid var(--color-c4);
    cursor: pointer;
}

.container-imagem-tecnologia:hover {
    background-color: var(--color-c2) !important;
}

.container-imagem-tecnologia img {
    max-width: 90px;
    padding: 5px;
    box-sizing: border-box;
    transition: all .2s;
}

.container-imagem-tecnologia.selected img{
    filter: blur(2px);
    transition: all .2s;
}

.container-imagem-tecnologia.selected {
    border-color: var(--color-p5);
}

.container-imagem-tecnologia.selected::after {
    content: 'check_circle';
    font-family: 'Material Symbols Rounded';
    font-size: 2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    color: var(--color-p6);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 10%);
}

.container-status-geral-projeto {
    display: flex;
    justify-content: end;
}

.container-autores-projeto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.autor-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone-excluir-autor {
    border: 1px solid var(--color-a-red4);
    display: inline-flex;
}

.icone-excluir-autor span {
    color: var(--color-a-red3);
}

.icone-excluir-autor:hover ~ .nome-autor{
    color: var(--color-a-red4);
}

#btn-adicionar-autor {
    background-color: var(--color-a-green4);
    border: 1px solid var(--color-a-green4);
}

#btn-adicionar-autor:active {
    background-color: var(--color-a-green3) !important;
    border-color: inherit;
}

.feedback-qnt-caracteres.alert-1 {
    color: var(--color-a-yellow4);
}

.desc-projeto, 
.desc-tipo-projeto {
    min-height: 120px !important;
    max-height: 180px !important;
}

.desc-funcionalidades {
    min-height: 200px !important;
    max-height: 400px !important;
}

.container-descricao-funcionalidades {
    display: none;
}