.projetosDestaque {
    height: auto;
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 20px 20px;
}

.conteudo-img img {
    object-fit: cover;
    height: 100%;
    object-position: top left;
}

.projetosDestaque .texto-paragrafo {
    position: relative;
}

.projetosDestaque .texto-paragrafo::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 8px;
    background-color: var(--color-p4);
    bottom: -20px;
    left: -0px;
}

.projetosDestaque-container-cards {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px 40px;
    position: relative;
}

.projetoDestaque-cards {
    position: relative;
    width: 100%;
    
}

.projetoDestaque-cards img {
    max-width: 100%;
    box-shadow: 1px 4px 30px 0px rgba(0, 0, 0, 10%);
}

.projetoDestaque-cards.visibilidade-administrador {
    border: 4px solid greenyellow;
}

.tec-etiqueta {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--color-c2);
    height: 41px;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    padding: 0px 30px;
}

.cabecalho-techs-cards {
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.cabecalho-techs-cards img {
    width: 23px;
    height: 23px;
}

.tec-etiqueta .font-1-md-sb {
    font-weight: 300;
    line-gap-override: 15px;
}

.tec-etiqueta p {
    color: var(--color-c4);
}

.tec-etiqueta::before {
    content: attr(data-name);
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--color-c2);
    width: 230px;
    height: 52px;
    bottom: 85%;
    left: 20px;
    display: flex;
    font-size: 1.4em;
    font-family: poppins;
    font-weight: 600;
    color: var(--color-c12);
    justify-content: center;
    align-items: center;
}

.projetoDestaque-cards-frontal {
    position: relative;
    transition: all .3s;
    width: 100%;
}

    .projetoDestaque-cards:hover .projetoDestaque-cards-verso.desk{
        display: block;
    }

    .projetoDestaque-cards:hover .conteudo-img.desk img {
        filter: blur(20px);
    }
    
    .ativo-img img {
        filter: blur(20px);
    }

.techs-verso::before {
    content: attr(data-name);
    position: absolute;
    background-color: var(--color-s8);
    border: 1px solid transparent;
    width: 230px;
    height: 52px;
    bottom: 85%;
    left: 20px;
    display: flex;
    font-family: poppins;
    font-weight: 600;
    color: var(--color-c2);
    justify-content: center;
    align-items: center;

}

.projetoDestaque-cards-verso {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: rgba(14, 16, 24, 80%);
    display: none;
    transition: all .3s;
}

.projetoDestaque-cards-verso.ativo {
    display: block;
}

.projetoDestaque-cards--conteudo {
    height: 388px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
}

.techs-verso {
    background-color: rgba(14, 16, 24, 0%);
    border-color: transparent;
}

.conteudo-card-verso {
    box-sizing: border-box;
    padding: 0px 30px;
}

.projetoDestaque-cards--conteudo-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}

.conteudo-buttons-link-logo {
    border: 1px solid;
    border-color: rgba(93, 96, 108, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}

.container-buttons-link-logo {
    display: flex;
    justify-content: flex-end;
}

    .conteudo-buttons-link-logo a {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 120px;
        max-height: 120px;
    }

    .conteudo-buttons-link-logo img {
        background-color: var(--color-c2);
        padding: 0px 5px;
        width: 100%;
        height: 100%;
        max-width: 90px;
        max-height: 90px;
    }

.projetoDestaque-cards--conteudo-texto {
    border-top: 1px solid var(--color-c10);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.projetoDestaque-cards--conteudo-texto h3 {
    font-size: 1.5em;
    font-family: poppins;
    font-weight: 400;
    color: var(--color-c2);
    margin: 20px 0px;
}

.container-button-saiba-mais {
    /* background-color: blue; */
}

.descricao-destaque {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


.projetosDestaque-btn-visualizar-todos {
    display: flex;
    max-width: 300px;
    height: 55px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: poppins, sans-serif;
    font-size: 1.25em;
    color:  var(--color-c6);
    border-bottom: 1px solid;
    border-color: rgba(93, 96, 108, 20%);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 3%);
    transition: all .3s;
    margin: 100px auto;
}

.projetosDestaque-btn-visualizar-todos:hover {
    color: var(--color-c10);
    border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
    transition: all .3s;
}

    .projetosDestaque-btn-visualizar-todos:hover span {
        color: var(--color-p4);
    }

.projetosDestaque-container-cards::before {
    content: '';
    position: absolute;
    width: calc(100% + 14px);
    height: 100%;
    left: -7px;
    top: -80px;
    z-index: 0;
    background-image: url(../../assets/img/outros/forma-background.svg);
    background-size: contain;
    background-position: initial;
    background-repeat: repeat-x;
}

.texto-destaque {
    position: relative;
}

.projetosDestaque .texto-destaque::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 8px;
    bottom: -30px;
    left: 0px;
    background-color: var(--color-p4);
}

@media (max-width: 991px) {
    .projetosDestaque {
        margin-top: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .projetosDestaque-container-cards {
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 130px 40px;
    }

    .projetoDestaque-cards--conteudo-texto {
        border-top: 1px solid var(--color-c10);
        margin-bottom: 30px;
    }
    
    .projetoDestaque-cards--conteudo-texto h3 {
        font-size: 1.25em;
        font-family: poppins;
        font-weight: 400;
        color: var(--color-c2);
    }
    
    .projetoDestaque-cards--conteudo-texto .font-1-md-l {
        font-size: .95em;
        line-height: 1.5em;
    }
    
    .saiba-mais {
        font-size: .95em;
        font-weight: 300;
    }


    .tec-etiqueta .font-1-md-sb {
        color: var(--color-c6);
        font-size: .8em;
        line-gap-override: 15px;
    }

    .projetoDestaque-cards-verso {
        position: absolute;
        top: 0px;
        background-color: rgba(14, 16, 24, 80%);
        display: none;
        transition: all .3s;
    }

    .projetoDestaque-cards--conteudo {
        display: flex;
        flex-direction: column;
    }


    .tec-etiqueta {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .tec-etiqueta::before {
        content: attr(data-name);
        position: absolute;
        border: 1px solid var(--color-c2);
        bottom: 85%;
        left: 20px;
        display: flex;
        font-size: 1.2em;
        font-family: poppins;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        color: var(--color-c12);
    }

    .techs-verso::before {
        content: attr(data-name);
        position: absolute;
        border: 1px solid transparent;
        bottom: 85%;
        left: 20px;
        display: flex;
        font-family: poppins;
        font-weight: 500;
        color: var(--color-c12);
        justify-content: center;
        align-items: center;
        background-color: var(--color-s8);
        color: var(--color-c2);
    }

    .conteudo-buttons-link-logo {
        border: 1px solid;
        border-color: rgba(93, 96, 108, 20%);
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        height: 120px;
        width: 120px;
    }

    .conteudo-buttons-link-logo a {
        max-width: 70px;
        max-height: 70px;
    }
    
         .conteudo-buttons-link-logo a {
            display: flex;
        }
    
        .conteudo-buttons-link-logo img {
            background-color: var(--color-c2);
        }
}

@media (min-width: 592px) and (max-width: 768px) {
    .projetosDestaque-container-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 160px 20px;
    }
    
    .projetoDestaque-cards--conteudo-texto h3 {
        font-weight: 500;
        color: var(--color-c2);
    }
 
    .tec-etiqueta {
        width: 100%;
    }
    
    .tec-etiqueta::before {
        font-weight: 500;
        font-size: 1.4em;
    }

    .projetosDestaque-container-cards::before {
        background-repeat: repeat-y;
    }

    .descricao-destaque {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}


@media (max-width: 591px) {
    .projetoDestaque-cards {
        height: calc(388px + 30px);
    }

    .projetosDestaque-container-cards {
        grid-template-columns: 1fr;
        gap: 160px 20px;
    }

    .projetoDestaque-cards--conteudo-texto h3 {
        font-size: 1.25em;
        font-weight: 500;
    }
    
    .projetoDestaque-cards--conteudo-texto .font-1-md-sb {
        font-size: .95em;
    }
    
    .tec-etiqueta {
        height: 30px;
    }
    
    .tec-etiqueta::before {
        width: 178px;
        height: 34px;
        font-size: 1em;
        font-weight: 500;
    }

    .techs-verso::before {
        border: 1px solid transparent;
        color: var(--color-c2);
    }

    .projetosDestaque-btn-visualizar-todos {
        max-width: 100%;
        height: 40px;
        font-size: .88em;
        margin: 100px auto;
    }

    .projetosDestaque-btn-visualizar-todos span {
        font-size: 1.25em;
    }

    .projetosDestaque-container-cards::before {
        background-repeat: repeat-y;
    }

    .conteudo-buttons-link-logo {
        height: 110px;
        width: 110px;
    }

    .conteudo-buttons-link-logo a {
        max-width: 70px;
        max-height: 70px;
    }

    .cabecalho-techs-cards {
        gap: 5px;
    }

    .cabecalho-techs-cards img {
        width: 16px;
        height: 16px;
    }

}

@media (max-width: 480px) {
    .projetoDestaque-cards {
        height: calc(273px + 27px);
    }

    .projetoDestaque-cards--conteudo-texto {
        margin-bottom: 20px;
    }

    .projetoDestaque-cards--conteudo-texto h3 {
        font-size: 1em;
        font-family: poppins;
        font-weight: 500;
        margin: 10px 0px;
    }
    

    .tec-etiqueta .font-1-md-sb {
        font-size: .625em;
    }

    .projetoDestaque-cards--conteudo {
        height: 273px;
        display: flex;
        flex-direction: column;
    }

    .tec-etiqueta {
        height: 27px;
    }
    
    .tec-etiqueta::before {
        width: 158px;
        height: 34px;
        font-size: 1em;
    }

    .conteudo-buttons-link-logo {
        border: 1px solid;
        border-color: rgba(93, 96, 108, 20%);
        height: 80px;
        width: 80px;
    }

    .conteudo-buttons-link-logo a {
        max-width: 50px;
        max-height: 50px;
    }
    
    .projetosDestaque-container-cards::before {
        background-repeat: repeat-y;
    }

    .projetosDestaque .texto-destaque::after {
        content: '';
        position: absolute;
        width: 26px;
        height: 3px;
        bottom: -20px;
        left: 0px;
        background-color: var(--color-p4);
    }
}