.todosProjetos {
    height: auto;
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 76px;
    padding: 20px 20px;
    margin-bottom: 120px;
}

.container-principal-todos-projetos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

    .total-projetos,
    .card-projeto-numero-marcador {
        font: 700 2.5rem/2em 'Poppins', sans-serif;
        color: var(--color-c2);
    }

.container-cards-projetos {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.container-card-projeto-completo {
    gap: 40px;
    min-height: 388px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'card-projeto-imagem card-projeto-titulo'
    'card-projeto-imagem card-projeto-conteudo'
    ;

}

.container-card-projeto-completo.visibilidade-administrador{
    border: 4px solid greenyellow;
}

    .container-card-projeto-imagem {
        width: 100%;
        max-height: calc(388px + 40px);
        position: relative;
        grid-area: card-projeto-imagem;
    }

    .card-projeto-completo-imagem {
        width: 100%;
        height: 388px;
    }
        .card-projeto-completo-imagem img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        /* estilizando os botoes de prev e next */
        .btn-img-ant {
            position: absolute;
            left: -15px;
            top: calc(50% - 18px);
        }

        .btn-img-prox {
            position: absolute;
            right: -15px;
            top: calc(50% - 18px);
        }

        .btn-img-prevnext {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 36px;
            background-color: rgba(8, 9, 14, 20%);
            border: none;
        }

        .btn-img-prevnext:hover {
            background-color: rgba(8, 9, 14, 40%);
            cursor: pointer;
        }

        .btn-img-ant span, .btn-img-prox span{
            font-size: 32px;
            color: var(--color-c0);
            font-weight: 600;
        }

    .card-projeto-completo-informacao {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .card-projeto-titulo {
            display: flex;
            gap: 20px;
            height: auto;
            align-items: center;
            grid-area: card-projeto-titulo;
            position: relative;
        }

        .card-projeto-titulo::before {
            position: absolute;
            content: '';
            width: 2px;
            height: 42px;
            background-color: var(--color-c2);
            bottom: -40px;
            left: calc(58px/2);
        }

            .card-projeto-numero-marcador {
                width: 58px;
                height: 45px;
                background-color: var(--color-c1); 
                color: var(--color-c4);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px;
            }
            
            .card-projeto-titulo .font-1-h2-b{
                margin-bottom: 0px;
            }

        .card-projeto-conteudo {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            grid-area: card-projeto-conteudo;
        }

            .card-projeto-container-btn {
                background-color: #fff;
                display: flex;
                gap: 20px;
            }

            .btn-accordion {
                font-size: 1.625em !important;
                font-weight: 800 !important;
                color: var(--color-s9);
            }

            .accordion-titulo.ativo span {
                rotate: 180deg;
                transition: all .3s;
                background: linear-gradient(to bottom right, var(--color-p4), var(--color-s23));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                background-clip: text; 
            }

.container-card-imagem { 
    width: 300px; 
    height: 200px; 
}

.container-imagem { 
    display: flex; 
    justify-content: center; 
}

.container-imagem img { 
    width: 150px; 
    height: 100px;
    }

.card-projeto-accordion {
    margin-bottom: 20px;
}

    .accordion-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-projeto-accordion .accordion-container.autores.ativo {
        border-bottom: 1px solid var(--color-c4);
    }

    .accordion-titulo {
        border-top: 1px solid var(--color-c4);
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
    }

    .accordion-titulo.ativo {
        background-color: var(--color-s6);
        color: var(--color-c0);
    }

    .accordion-container:last-child .accordion-titulo {
        border-bottom: 1px solid var(--color-c4);
    }

        .accordion-conteudo {
            padding: 0px 20px;
            width: calc(100% - 20px);
            border-left: 1px solid var(--color-c4);
            border-right: 1px solid var(--color-c4);
            box-sizing: border-box;
            height: 0px;
            overflow: hidden;
            transition: all .4s;
            border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
        }

        .accordion-conteudo.ativo {
            display: block;
            height: auto;
            transition: all .4s;
            padding: 10px 20px;
        }

        .accordion-conteudo.autores {
            display: flex;
            gap: 0px;
            flex-direction: column;
            align-items: baseline;
        }

        .accordion-conteudo.autores a {
            background-color: #fff;
            display: inline-flex;
            gap: 10px;
            align-items: center;
            padding: 10px;
            text-decoration: none;
            color: #000;
            color: var(--color-p7);
            position: relative;
        }
        
        .accordion-conteudo.autores a span {
            color: var(--color-p7);
            transition: all .3s
        }

        .accordion-conteudo.autores a[aria-disabled="true"] span {
            color: var(--color-c4);
        }

        .accordion-conteudo.autores a[aria-disabled="false"]:hover span {
            color: var(--color-s6);
            transition: all .3s;
        }

        .accordion-conteudo.autores a[aria-disabled="true"] {
            color:  var(--color-c8);
        }

        .accordion-conteudo.tecnologias.ativo{
            padding: 20px;
        }

        .accordion-conteudo.tecnologias {
            display: flex;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 20px;
            flex-wrap: wrap;
        }

        .card-imagem-tecnologia-projeto {
            background-color: var(--color-c0);
            border: 1px solid var(--color-c2);
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-imagem-tecnologia-projeto img {
            width: 50px;
            height: 50px;
            padding: 10px;
        }

        .card-imagem-tecnologia-projeto p {
            text-align: center;
            padding: 5px;
            border-top: 1px solid var(--color-c2);
            color: var(--color-c10);
        }

        hr {
            width: 100%;
            border-color: var(--color-c0);
            border-color: rgba(0, 0, 0, 10%);
        }

        .container-cards-projetos hr:last-of-type{
            display: none;
        }

    @media (min-width: 769px) {

        .tec-etiqueta.todos-projetos::before {
            display: none;
        }

     }
    
    @media (max-width: 768px) {
        .container-card-projeto-completo {
            grid-template-columns: 1fr;
            grid-template-areas:
            'card-projeto-titulo' 
            'card-projeto-imagem'
            'container-projeto-andamento'
            'card-projeto-conteudo'
            ;
        }
        .card-projeto-conteudo.andamento {
            margin-top: 20px;
        }

        .container-projeto-andamento span {
            font-size: 20px;
        }

        .card-projeto-container-btn {
            justify-content: center;
        }

        .card-projeto-titulo {
            position: relative;
        }

        .card-projeto-titulo {
            display: flex;
            justify-content: end;
        }

        .card-projeto-nome-titulo {
            display: none;
        }

        .card-projeto-titulo::before {
            left: auto;
            right: calc(58px/2);
        }

    }

    @media (min-width: 592px) and (max-width: 768px) {

    }

    @media (max-width: 591px) {

        .container-cards-projetos {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

    }

    @media (max-width:480px){
        .accordion-titulo.font-2-md-r {
            font-size: .875rem;
        }

        .container-card-projeto-imagem {
            max-height: calc(273px + 27px);
        }
    
        .card-projeto-completo-imagem {
            height: 273px;
        }

    }

    .container-indice-marcador-imagem {
        display: flex;
        margin-top: 10px;
        gap: 10px;
        justify-content: center;
    }

    .marcador-imagem-projeto {
        background-color: var(--color-c3);
        min-width: 25px;
        max-width: 40px;
        width: 100%;
        height: 6px;
        border-radius: 3px;
    }

    .marcador-imagem-projeto.ativo {
        background-color: var(--color-c6);
    }