/* botões */
.container-btn-links-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: start;
    max-height: 152px;
    overflow-y: auto;
}

#activedrop {
    cursor: pointer;
}

.btn-links-cards,
.btn-acao-contato {
    display: flex;
    width: 130px;
    height: 55px;
    font-family: poppins;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid;
    border-color: rgba(93, 96, 108, 20%);
    transition: all .3s;
}

.btn-acao-contato {
    color: var(--color-c0);
    background-color: var(--color-s6);
    border: 1px solid transparent;
    margin: 0px;
    border-radius: .2rem;
    min-width: 130px;
    width: auto;
    max-width: 250px;
    padding: 0px 20px;
}

.btn-acao-contato:hover {
    background-color: var(--color-s2);
    cursor: pointer;
}

    .btn-links-cards:hover {
        color: var(--color-p4);
        border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
        transition: all .3s;
    }


.btn-links-cards.projetos {
    border: 1px solid;
    border-color: rgba(93, 96, 108, 40%);
    transition: all .3s;
}

.btn-links-cards.projetos.deploy {
    border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
}

    .btn-links-cards.projetos:hover {
        color: var(--color-c1);
        border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
        transition: all .3s;
        background-color: var(--color-s6);
    }


.container-button {
    display: flex;
    margin-bottom:30px ;
}
    
.btn-primary {
    background-color: var(--color-s23);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    font: 400 1rem/1.35 "Poppins", sans-serif;
    box-sizing: border-box;
    border: 1px solid var(--color-s23);
    color: var(--color-c0);
}

.btn-primary:hover {
    background-color: var(--color-s22);
    border: 1px solid var(--color-s22);
}

.btn-primary:active {
    background-color: var(--color-s3) !important;
}

a[aria-disabled="true"] {
    pointer-events: none;
    cursor: default;
}

.invalid {
    color: red;
}

.btn:disabled {
    border-color: var(--color-c4);
    background-color: var(--color-c4) !important;
}

.btn-outline-success {
    border: 1px solid var(--color-a-green4) !important;
}

.btn-outline-danger {
    border: 1px solid var(--color-a-red3) !important;
}

.btn-check:checked+.btn-outline-danger {
    background-color: var(--color-a-red3) !important;
}

.btn-check:checked+.btn-outline-success {
    background-color: var(--color-a-green4) !important;
}

.container-check {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    padding-left: 10px;
    padding: 10px 10px;
}

.form-check-inline {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.form-check {
    padding-left: 0px;
}

.form-check-input {
    border: 1px solid;
    height: 18px;
    width: 18px;
    padding: 5px 0px;
    margin-top: 0px;
}

.form-check .form-check-input {
    margin-left: 0px;
}

@media (min-width: 769px) and (max-width: 1023px) {

    .container-btn-links-cards {
        gap: 20px;
    }
    
    .btn-links-cards {
        width: 100px;
        height: 45px;
        font-size: .8em;
    }
    
        .btn-links-cards:hover {
            color: var(--color-p4);
            border-image: linear-gradient(to bottom right, var(--color-p4), var(--color-s23)) 10;
            border-width: 1px;
            border-style: solid;
            transition: all .3s;
        }

}

@media (min-width: 592px) and (max-width: 768px) {

    .container-btn-links-cards {
        gap: 20px;
    }
    
    .btn-links-cards {
        width: 120px;
        height: 55px;
    }

}

@media (max-width: 591px) {
    .container-btn-links-cards {
        gap: 10px;
    }
    
    .btn-links-cards {
        width: 110px;
        height: 45px;
        font-size: 1em;
    }

}

@media (max-width: 480px) {
    .container-btn-links-cards {
        gap: 10px;
        max-height: 96px;
    }
    
    .btn-links-cards {
        width: 80px;
        height: 40px;
        font-size: .625em;
    }

    .btn-links-cards.projetos {
        width: 90px;
        height: 40px;
        font-size: .75em;
    }
    
}

/* estilização da área de imagens */
.container-button.logos {
    margin-top: 30px;
}

.card-imagem-view {
    height: 250px;
}

.card-titulo {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.container-imagem,
.container-tecnologias {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
    flex-wrap: wrap;
}

.card-body.imagem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-button-imagem,
.rodape-button-imagem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
}

.container-button-imagem a {
    padding: 3px;
    display: inline-flex;
    margin: 0px 2px;
    border: 1px solid var(--color-c4);
    border-radius: .2rem;
    transition: all .3s;
}

.rodape-button-imagem {
    justify-content: space-between;
}

.rodape-button-imagem p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-c4);
}

.indicador-skill {
    border: 1px solid var(--color-c6);
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-c2);
}

.indicador-skill.sim {
    border: 1px solid transparent;
    background-color: var(--color-a-green4);
}

.card-container-imagem img {
    width: 70px;
    height: auto;
}

.card-container-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.container-filtro {
    height: 44px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.container-filtro-projetos {
    width: auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.container-filtro.projetos {
    margin-top: 64px;
    justify-content: initial;
    width: auto;
    justify-content: initial;
    position: relative;
}

.container-filtro.projetos::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 64px;
    background-color: var(--color-p4);
    right: -20px;
    top: -10px;
}

.filtro-btn {
    height: 100%;
    border: 0px;
    color: var(--color-c2);
    background-color: var(--color-s5);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
    transition: all .3s;
    font-weight: 600;
}

.filtro-btn:hover {
    background-color: var(--color-s3);
    transition: all .3s;
    cursor: pointer;
}

.filtro-btn:focus {
    outline: none;
    border: 1px solid;
}

.filtro-btn.active {
    background-color: var(--color-p4);
    color: var(--color-c13);
    font-weight: 600;
}

    .filtro-btn-projeto {
        background-color: transparent;
        border: 1px solid var(--color-c3);
        color: var(--color-c13);
    }

    .filtro-btn-projeto.active {
        background-color: var(--color-s5);
        color: var(--color-c2);
    }

    .filtro-btn-projeto:hover {
        background-color: var(--color-s5);
        transition: all .3s;
        color: var(--color-c2);
    }

.p-legenda {
    display: flex;
    flex-direction: column;
}    
    
.legenda-bg {
    border-radius: .2rem;
    padding: 5px;
    max-width: fit-content;
}

.legenda-bg.status-1 {
    background-color: var(--color-a-green2);
    color: var(--color-a-green4);
}

.legenda-bg.status-2 {
    background-color: var(--color-a-yellow2);
    color: var(--color-a-yellow4);
}

.legenda-bg.status-3 {
    background-color: var(--color-a-red2);
    color: var(--color-a-red4);
}

.legenda-bg.status-0 {
    background-color: var(--color-c2);
}

.td-legenda-bg-2 {
    position: relative;
    display: flex;
    height: 51px !important;
}

.td-legenda-bg-2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.legenda-bg-2 {
    content: '';
    position: absolute;
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: calc(50% - 5px);
}

.legenda-bg-2.status-1 {
    background-color: var(--color-a-green4);
    color: var(--color-a-green3);
}

.legenda-bg-2.status-2 {
    background-color: var(--color-a-yellow4);
    color: var(--color-a-yellow3);
}

.legenda-bg-2.status-3 {
    background-color: var(--color-a-red4);
    color: var(--color-a-red3);
}

.td-legenda-bg-3 {
    text-align: center;
}

.td-legenda-bg-3 span {
    color: var(--color-a-yellow3);
}

.td-legenda-visibilidade span{
    color: var(--color-c4);
}

.nav-link {
    color: var(--color-c6);
}


.nav-link.active {
    background-color: transparent !important;
    border: 1px solid var(--color-c4) !important;
    border-radius: .2rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent !important;
}

.nav-tabs {
    --bs-nav-tabs-border-color: var(--color-c4) !important;
}

.nav-link:hover {
    color: var(--color-c6);
    color: var(--color-c10);
}

.nav-link.active.nav-modal{
    border: none !important;
    background-color: transparent !important;
    border-bottom: 2px solid !important;
}
