.habilidades {
    max-width: 100%;
    margin: 60px auto;
    padding: 0px 0px;
    position: relative;
}

.habilidades .font-1-h2-b {
    text-align: center;
}

.habilidades span {
    background-color: var(--color-p4);
    padding: 5px 5px;
}

.habilidades-containerExterno {
    background-color: var(--color-s8);
    min-height: 638px;
    margin: 0 auto;
    padding: 0 calc((100% - 1140px)/2);
    display: block;
    justify-content: center;
    align-content: center;
    /* background-color: greenyellow; */
}

.habilidades .font-1-h2-b {
    margin: 0;
}

.habilidades .font-2-lg-r {
    color: var(--color-c6);
    margin-bottom: 20px;
    text-align: center;
}

.habilidades-containerTecnologias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 0px 10px;
}

.habilidades-containerTecnologias::before {
    content: '';
    position: absolute;
    bottom: 80%;
    right: 10px;
    width: 2px;
    height: 200px;
    background-color: var(--color-p4);
}

.habilidades-containerTecnologias::after {
    content: '';
    position: absolute;
    top: 80%;
    left: 10px;
    left: 10px;
    width: 2px;
    height: 200px;
    background-color: var(--color-p4);
}

.habilidades-principais-container, .habilidades-ferramentas-container {
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.habilidades-principais-container-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 20px;
    min-height: auto;
    justify-content: center;
    margin-top: 30px;
}

@keyframes seta {
    0% {
        left: 20px;
        opacity: 0;
        width: 10px;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}

.container-icons {
    height: 70px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container-icons::before {
    content: attr(data-tech);
    position: absolute;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 110%;
    top: 130%;
    font-size: .7em;
    color: var(--color-c8);
    font-weight: 500;
    min-height: 25px;
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid var(--color-p4);
    padding: 5px;
    white-space: nowrap;

}

.container-icons:hover::before {
    opacity: 1; 
}

@media (max-width: 991px) {
    .habilidades {
        height: 100%;
        min-height: 450px;
    }

    .habilidades-containerExterno {
        height: 100%;
    }
}

@media (max-width: 728px) {
    .habilidades {
        margin: 40px auto;
        height: 100%;
        min-height: 450px;
    }
    .scroll-habilidades-principais {
        display: flex;
        flex-wrap: nowrap;
        gap: 80px 20px;
        /* padding: 0px 10px 60px 10px; */
        align-items: start;
        justify-content: center;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch ;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        position: relative;
        scrollbar-width: none;
        height: 120px;
        overflow-y: hidden;
    }
    
    .scroll-habilidades-principais::after {
        content: '';
        content: 'keyboard_double_arrow_left';
        font-family: 'Material Symbols Rounded'; 
        font-size: 32px;
        position: absolute;
        width: 50px;
        height: 10px;
        border-radius: 30px;
        color: rgba(255, 255, 255, .08);
        top: -10px;
        left: 20px;
        animation: seta 1.5s ease-in-out 0s infinite;
        opacity: 0; 
    }

    .habilidades .font-2-lg-r {
        margin-bottom: 0px;
    }

    .habilidades-containerExterno {
        /* min-height: 450px; */
    }
}

@media (max-width: 481px){
    .habilidades-containerTecnologias {
        gap: 0px;
        margin-top: 30px;
    }

    .habilidades .font-2-lg-r {
        font-size: .8125rem;
    }

    .habilidades-containerExterno {
        min-height: 450px;
    }

    .scroll-habilidades-principais {
        display: flex;
        padding: 10px;
        gap: 50px 20px;
        margin-top: 10px;
        padding: 10px 10px 0px 10px;
        align-items: initial;
        justify-content: center;
        height: 80px;
        overflow-y: hidden;
    }

    .habilidades-principais-container, .habilidades-ferramentas-container {
        min-height: 100px;
        height: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-icons {
        height: 40px;
    }

    .habilidades-containerTecnologias::before {
        top: -100px;
        height: 60px;
    }

    .habilidades-containerTecnologias::after {
        top: 350px;
        left: 10px;
        width: 3px;
        height: 60px;
    }




}