.formacao {
    width: 100%;
    background-color: var(--color-s8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacao-academica-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 1140px;
    background-color: var(--color-s8);
    margin-bottom: 300px;
    margin-top: 60px;
    padding-left: 64px;
    padding-left: 0px;
}



.formacao-academica-container .texto-titulo {
    color:  #fff;
}

.container-titulo-formacao-academica {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
}

    .container-titulo-formacao-academica h1 {
        margin: 0px;
    }

    .titulo-formacao-academica {
        width: 100%;
        max-width: 1010px;
    }

.formacao-academica-cards {
    display: grid;
    grid-template-columns: minmax(150px, 490px) minmax(150px, 490px);
    flex-direction: column;
    gap: 34px;
    margin-top: 54px;
    position: relative;
    padding: 0px 20px;
    justify-content: center;
}

.card-grid-academico {
    grid-column: 1;
}

    .formacao-academica-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        max-width: 619px;
        height: calc(100% - 36px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: -10px;
        left: 0px;
        z-index: 0;
    }

    .formacao-academica-cards::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        max-width: 420px;
        height: 2px;
        background-color: var(--color-s3);
        border-radius: 5px;
        bottom: -80px;
        left: 10px;
        z-index: 0;
    }


    .formacao-academica-lines {
        position: absolute;
        display: flex;
        box-sizing: border-box;
        width: 90%;
        height: 2px;
        background-color: var(--color-s3);
        z-index: 0;
        left: 10px;
        top: 50px;
        }

        .formacao-academica-lines::before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            background-color: var(--color-p6);
            width: 2px;
            height: 580px;
            top: -20px;
            left: 10px;
        }

        .formacao-academica-linesx::before {
            content: '';
            position: absolute;
            height: 500px;
            width: 2px;
            right: 150px;
            top: -200px;
            background-color: var(--color-p6);
            z-index: 2;
        }


.card-formacao {
    width: 100%;
    height: 100px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
}

    .card-formacao:hover .card-formacao-verso {
        display: flex;
    }

    .card-formacao::before {
        content: attr(data-tag-name-course);
        position: absolute;
        right: 10px;
        display:inline-flex;
        width: 100px;
        top: calc(-27px/2);
        height: 27px;
        background-color: var(--color-s6);
        align-items: center;
        justify-content: center;
        font-size: .81em;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--color-c6);
        z-index: 1;
    }
   
    .container-icone-status-formacao {
        position: absolute;
        right: -12.5px;
        bottom: -12.5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--color-c12);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-icone-status-formacao .icone-concluido {
        color: var(--color-p4);
        font-size: 2rem;
        left: 0px;
        bottom: 0px;
        position: absolute;
    }

    .container-icone-status-formacao .icone-andamento {
        color: var(--color-c1);
        left: 1px;
        bottom: 1px;
        position: absolute;
    }

.card-formacao-frontal {
    background-color: black;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}

    .card-formacao-img-logo {
        max-width: 80px;
        max-height: 80px;
        border-radius: 5px;
    }

        .card-formacao-img-logo img {
            width: 100%;
            opacity: 1;
            border-radius: 5px;
            object-position: center;
        }

    .card-formacao-texto {
        font-family: poppins, sans-serif;
        color: var(--color-c6);
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

        .card-formacao--instituicao {
            font-size: .75em;
            font-weight: 500;
        }

        .card-formacao--curso {
            font-size: .88em;
            font-weight: 600;
            margin: 0px;
            color: var(--color-c2);
        }

        .card-formacao-periodo {
            font-size: .75em;
            font-weight: 400;
            display: flex;
            gap: 10px;
        }

        .card-formacao-horas {
            font-size: .75em;
            font-weight: 400;
            display: flex;
            gap: 10px;
        }


    

.card-formacao-verso {
    display: none;
    box-sizing: border-box;
    background-color: rgba(000, 000, 000, 95%);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-image: linear-gradient(to bottom right, var(--color-s22), var(--color-s23)) 10;
}

.card-formacao-verso--status {
    justify-content: center;
}

    .card-formacao-verso--status a:hover {
        color: var(--color-p3);
    }

    .card-formacao-verso--status a:hover span{
        color: var(--color-p3);
    }

.card-formacao-verso--status a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: .75em;
    font-weight: bold;
    color: var(--color-c1);
}



/* certificados */
.formacao-academica-container-certificados {
    margin-top: 180px;
    margin-bottom: 50px;
}

.formacao-academica-container-certificados  h1 {
    text-align: center;
}

.certificados-cards {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 490px) minmax(150px, 490px);
    gap: 30px;
    margin-top: 84px;
    position: relative;
    padding: 0px 25px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

    .certificados-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: calc(100% + 64px);
        width: 100%;
        height: 100%;
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: -40px;
        left: 0px;
        /* left: 0px; */
        z-index: 0;
        /* display: none; */
    }


.form-filtro-certificados {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.filtro-certificados {
    height: 44px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

    .filtro-certificados-button {
        height: 100%;
        border: 0px;
        color: var(--color-c2);
        background-color: var(--color-s5);
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 0px 10px;
        box-sizing: border-box;
        transition: all .3s;
        font-weight: 600;
    }

    .filtro-certificados-button:hover {
        background-color: var(--color-s3);
        transition: all .3s;
    }

    .filtro-certificados-button:focus {
        outline: none;
        border: 1px solid;
        /* border-image: linear-gradient(to bottom right, var(--color-s22), var(--color-s23)) 10; */
    }

    .filtro-certificados-button.active {
        background-color: var(--color-p4);
        color: var(--color-c13);
        font-weight: 600;
    }


.filtro-certificados-mobile {
    display: none;
}

    #filtro-mobile-select {
        height: 35px;
        background-color: var(--color-s6);
        border: none;
        color: var(--color-c2);
        font-family: poppins, sans-serif;
        font-weight: 600;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding: 0px 10px;
        width: 100%;
    }

    #filtro-mobile-select:focus-visible {
        background-color: var(--color-s6);
        outline: none;
        border: 1px solid;
        border-image: linear-gradient(to bottom right, var(--color-s22), var(--color-s23)) 10;
    }

    /* #fitro-mobile-select  */

    .filtro-mobile-button {
        height: 35px;
        border: 0px;
        color: var(--color-c2);
        background-color: var(--color-s6);
        border: 1px solid transparent;
        display: none;
    }

        .filtro-mobile-button:focus-visible {
            border: 1px solid;
            outline: none;
            border-image: linear-gradient(to bottom right, var(--color-s22), var(--color-s23)) 10;
        }


        #filtro-mobile-select option {
            color: #000;
            font-family: poppins, sans-serif;
            font-weight: 600;
            background-color: var(--color-c2);
        }



@media (min-width: 848px ) and (max-width: 1024px) {
    .formacao-academica-container {
        width: 100%;
        box-sizing: border-box;
        max-width: 1140px;
        background-color: var(--color-s8);
        margin-bottom: 300px;
        margin-top: 60px;
        padding-left: 0px;
    }

    
.formacao-academica-cards {
    display: grid;
    grid-template-columns: minmax(150px, 490px) minmax(150px, 490px);
    flex-direction: column;
    gap: 34px;
    margin-top: 54px;
    position: relative;
    padding: 0px 20px;
}

    .formacao-academica-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        max-width: 45%;
        width: calc(100% - 140px);
        height: calc(100% + 60px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: 0px;
        left: 70px;
    }

    .formacao-academica-cards::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        max-width: 420px;
        height: 2px;
        background-color: var(--color-s3);
        border-radius: 5px;
        bottom: -80px;
        left: 10px;
        z-index: 0;
    }

.card-grid-academico {
    grid-column: 1;
}
    .formacao-academica-lines {
        position: absolute;
        display: flex;
        box-sizing: border-box;
        width: 90%;
        height: 2px;
        background-color: var(--color-s3);
        z-index: 0;
        left: 10px;
        top: 50px;
    }

        .formacao-academica-lines::before {
            height: 480px;
            top: -30px;
            left: 35px;
        }

        .formacao-academica-linesx::before {
            content: '';
            position: absolute;
            height: 500px;
            width: 2px;
            right: 150px;
            top: -200px;
            background-color: var(--color-p6);
            z-index: 2;
        }



.card-formacao {
    width: 100%;
    height: 100px;
}

    .card-formacao::before {
        width: 88px;
        top: calc(-27px/2);
        height: 27px;
        font-size: .71em;
    }
    
    .card-formacao-texto {
        gap: 3px;
    }

        .card-formacao--instituicao {
            font-size: .71em;
        }

        .card-formacao--curso {
            font-size: .71em;
        }

        .card-formacao-periodo {
            font-size: .71em;
        }

        .card-formacao-horas {
            font-size: .71em;
        }

.card-formacao-verso--status a {
    gap: 10px;
    font-size: .71em;
    font-weight: bold;
    padding: 10px 20px;
}

.card-formacao-verso--status span {
    font-size: 2.2em;
}

.form-filtro-certificados {
    margin-top: 36px;
}

.certificados-cards {
    margin-top: 64px;
    /* padding: 0px 20px; */
    box-sizing: border-box;
}

    .certificados-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        max-width: 100%;
        width: calc(100% - 140px);
        height: calc(100% + 70px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: -35px;
        left: 70px;
        z-index: 0;
        /* display: none; */
    }


#filtro-mobile-select {
    height: 45px;
    background-color: var(--color-s6);
    border: none;
    color: var(--color-c2);
    font-family: poppins, sans-serif;
    font-weight: 600;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 0px 10px;
    width: 100%;
    max-width: 490px;
}

    .filtro-certificados-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 140px);
    }

    .filtro-certificados {
        display: none;
    }
}

@media (min-width: 592px) and (max-width: 847px) {
    
    .formacao-academica-container {
        width: 100%;
        box-sizing: border-box;
        max-width: 1140px;
        background-color: var(--color-s8);
        margin-bottom: 300px;
        margin-top: 60px;
        padding-left: 0px;
    }

    .formacao-academica-container h1 {
        text-align: center;
    }
    
.formacao-academica-cards {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 54px;
    position: relative;
    align-items: center;
    padding: 0px 10px;
}

    .formacao-academica-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: calc(100% - 140px);
        max-width: 280px;
        max-width: 100%;
        height: calc(100% + 40px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: 0px;
        left: 70px;
        z-index: 0;
    }

    .formacao-academica-cards::after {
        width: 100%;
        max-width: 230px;
        bottom: -60px;
        left: 10px;
        z-index: 0;
    }


    .formacao-academica-lines {
            width: 0px;
            left: 10px;
            top: 50px;
            opacity: 1;
        }

        .formacao-academica-lines::before {
            height: 580px;
            top: -30px;
            left: 35px;
        }

        .formacao-academica-linesx::before {
            height: 120px;
            right: 10px;
            z-index: 2;
        }


.card-formacao {
    width: 100%;
    max-width: calc(100% - 60px);
    height: 130px;
}



    .card-formacao::before {
        width: 108px;
        top: calc(-37px/2);
        height: 37px;
        font-size: .95em;
    }
    
    .card-formacao-img-logo {
        max-width: 100px;
        max-width: 100%;
        max-height: 100%;         
    }

        .card-formacao-img-logo img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    .card-formacao-texto {
        gap: 10px;
    }

        .card-formacao--instituicao {
            font-size: .95em;
        }

        .card-formacao--curso {
            font-size: .95em;
        }

        .card-formacao-periodo {
            font-size: .95em;
        }

        .card-formacao-horas {
            font-size: .95em;
        }

.card-formacao-verso--status a {
    gap: 10px;
    font-size: .95em;
    font-weight: bold;
    padding: 10px 20px;
}

.card-formacao-verso--status span {
    font-size: 2.2em;
}
        

.form-filtro-certificados {
    margin-top: 24px;
}

.certificados-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 0px 10px;
    margin-top: 54px;
    position: relative;
    align-items: center;
    margin-top: 64px;
    position: relative;

}
    .certificados-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        max-width: 100%;
        width: calc(100% - 140px);
        height: calc(100% + 70px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: -35px;
        left: 70px;
        z-index: 0;
    }


#filtro-mobile-select {
    height: 45px;
    background-color: var(--color-s6);
    border: none;
    color: var(--color-c2);
    font-family: poppins, sans-serif;
    font-weight: 600;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 0px 10px;
    width: 100%;
    max-width: 490px;
}



    #filtro-mobile-select:focus-visible {
        background-color: var(--color-s6);
        outline: none;
        border: 1px solid;
        border-image: linear-gradient(to bottom right, var(--color-s22), var(--color-s23)) 10;
    }

    /* #fitro-mobile-select  */

    .filtro-mobile-button {
        height: 35px;
        border: 0px;
        color: var(--color-c2);
        background-color: var(--color-s6);
        border: 1px solid transparent;
        display: none;
    }

        .filtro-mobile-button:focus-visible {
            border: 1px solid;
            outline: none;
            border-image: linear-gradient(to bottom right, var(--color-s22), var(--color-s23)) 10;
        }


        #filtro-mobile-select option {
            color: #000;
            font-family: poppins, sans-serif;
            font-weight: 600;
            background-color: var(--color-c2);
        }

        .filtro-certificados-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 140px);
        }
    
        .filtro-certificados {
            display: none;
        }
}


@media (min-width: 481px) and (max-width: 591px) {
    
    .formacao-academica-container {
        width: 100%;
        box-sizing: border-box;
        max-width: 1140px;
        background-color: var(--color-s8);
        margin-bottom: 300px;
        margin-top: 60px;
        padding-left: 0px;
    }

    .formacao-academica-container h1 {
        text-align: center;
    }
    
.formacao-academica-cards {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 54px;
    position: relative;
    align-items: center;
    padding: 0px 10px;
}

    .formacao-academica-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: calc(100% - 140px);
        max-width: 280px;
        max-width: 100%;
        height: calc(100% + 40px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: 0px;
        left: 70px;
        z-index: 0;
    }

    .formacao-academica-cards::after {
        width: 100%;
        max-width: 230px;
        bottom: -60px;
        left: 10px;
        z-index: 0;
    }


    .formacao-academica-lines {
            width: 0px;
            left: 10px;
            top: 50px;
            opacity: 1;
        }

        .formacao-academica-lines::before {
            height: 480px;
            top: -30px;
            left: 35px;
        }

        .formacao-academica-linesx::before {
            height: 120px;
            right: 10px;
            z-index: 2;
        }


.card-formacao {
    width: 100%;
    max-width: calc(100% - 60px);
    height: 100px;
}



    .card-formacao::before {
        width: 88px;
        top: calc(-27px/2);
        height: 27px;
        font-size: .71em;
    }
    
    .card-formacao-texto {
        gap: 3px;
    }

        .card-formacao--instituicao {
            font-size: .71em;
        }

        .card-formacao--curso {
            font-size: .71em;
        }

        .card-formacao-periodo {
            font-size: .71em;
        }

        .card-formacao-horas {
            font-size: .71em;
        }

.form-filtro-certificados {
    margin-top: 36px;
}

.certificados-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 0px 10px;
    margin-top: 54px;
    position: relative;
    align-items: center;
    margin-top: 64px;
    position: relative;

}
    .certificados-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        max-width: 100%;
        width: calc(100% - 140px);
        height: calc(100% + 70px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: -35px;
        left: 70px;
        z-index: 0;
    }


#filtro-mobile-select {
    height: 35px;
    background-color: var(--color-s6);
    border: none;
    color: var(--color-c2);
    font-family: poppins, sans-serif;
    font-weight: 600;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 0px 10px;
    width: 100%;
    max-width: 490px;
}

    .filtro-certificados-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 140px);
    }

    .filtro-certificados {
        display: none;
    }
}

@media (max-width:480px) {

.texto-titulo {
    font-size: 1.88em;
}

    .formacao {
        width: 100%;
        /* height: 100vh; */
        background-color: var(--color-s8);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formacao-academica-container {
        width: 100%;
        box-sizing: border-box;
        max-width: 1140px;
        background-color: var(--color-s8);
        margin-bottom: 300px;
        margin-top: 60px;
        padding-left: 0px;
    }

    .formacao-academica-container h1 {
        text-align: center;
    }
    
.formacao-academica-cards {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 54px;
    position: relative;
    align-items: center;
}

    .formacao-academica-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: calc(100% - 140px);
        max-width: 280px;
        max-width: 100%;
        height: calc(100% + 40px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: 0px;
        left: 70px;
        z-index: 0;
    }

    .formacao-academica-cards::after {
        width: 100%;
        max-width: 230px;
        bottom: -60px;
        left: 10px;
        z-index: 0;
    }


    .formacao-academica-lines {
            width: 0px;
            left: 10px;
            top: 50px;
            opacity: 1;
            /* display: none; */
        }

        .formacao-academica-lines::before {
            height: 400px;
            top: -30px;
            left: 35px;
        }

        .formacao-academica-linesx::before {
            height: 100px;
            right: 10px;
            z-index: 2;
        }


.card-formacao {
    width: 100%;
    max-width: 350px;
    height: 80px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
}


    .card-formacao::before {
        content: attr(data-tag-name-course);
        position: absolute;
        right: 10px;
        display:inline-flex;
        width: 68px;
        top: calc(-17px/2);
        height: 17px;
        justify-content: center;
        font-size: .625em;
        font-weight: 500;
        /* display: none; */
    }

    
        .card-formacao-img-logo {
            max-width: 50px;
            max-height: 60px;         
        }
    
            .card-formacao-img-logo img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
    
        .card-formacao-texto {
            gap: 0px;
        }
    
            .card-formacao--instituicao {
                font-size: .61em;
            }
    
            .card-formacao--curso {
                font-size: .61em;
            }
    
            .card-formacao-periodo {
                font-size: .61em;
            }

            .card-formacao-horas {
                font-size: .61em;
            }



.card-formacao-verso--status a {
    gap: 10px;
    font-size: .65em;
    font-weight: bold;
    padding: 10px 20px;
}

.card-formacao-verso--status span {
    font-size: 2em;
}

.formacao-academica-container-certificados {
    position: relative;
}

.form-filtro-certificados {
    margin-top: 10px;
}

.certificados-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 0px 20px;
    margin-top: 54px;
    position: relative;
    align-items: center;
    margin-top: 64px;
    position: relative;

}
    .certificados-cards::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        max-width: 100%;
        width: calc(100% - 140px);
        height: calc(100% + 70px);
        background-color: var(--color-s7);
        border: 1px solid var(--color-s6);
        border-radius: 5px;
        top: -35px;
        left: 70px;
        z-index: 0;
    }

    .filtro-certificados-mobile {
        display: block;
        width: 100%;
        width: calc(100% - 140px);
    }

    .filtro-certificados {
        display: none;
    }


}